/* https://html.spec.whatwg.org/multipage/rendering.html */

@namespace url(http://www.w3.org/1999/xhtml);

[hidden], area, base, basefont, datalist, head, link, meta, noembed,
noframes, param, rp, script, source, style, template, track, title {
    display: none;
}

embed[hidden] { display: inline; height: 0; width: 0; }

input[type=hidden i] { display: none !important; }

html, body { display: block; }

body { margin: 0px }

em { font-style: italic; }
strong { font-weight: bold; }

address, blockquote, center, dialog, div, figure, figcaption, footer, form,
header, hr, legend, listing, main, p, plaintext, pre, xmp {
  display: block;
}

br { white-space: pre !important; }

sub { vertical-align: sub; font-size: 0.8em; }
sup { vertical-align: super; font-size: 0.8em; }

pre { white-space: pre; }
code { font-family: monospace; }